.cor-de-fundo{
    background-color:#6B9B6A;
}
.cor{
    background-color: #382A2A;
}

header{
    background-image: url(download\ 1.png);
    background-size: 100% 100%;
    padding: 3% 0;
}

.linhas{
    width: 5%;
}